<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить автобусную станцию</title>
</head>
<body>
<div th:if="${error}">
    <p th:text="${error}" />
</div>
<a href="/">Главная</a>
<a href="/station">Добавить станцию</a>
<a href="/admin">Консоль администратора</a>
<form action="/city" method="post" enctype="text/plain">
    <div>
        <label>Название города</label>
        <input type="text" name="cityName">
    </div>
    <button type="submit">Добавить</button>
</form>
<div>
    <div th:each="city : ${cities}">
        <a th:href="@{/city/edit/{id}(id = ${city.id})}">
            <span th:text="${city.name}"></span>
        </a>
        <a th:href="@{/city/delete/{id}(id = ${city.id})}">
            <span th:text="Удалить"></span>
        </a>
    </div>
</div>
</body>
</html>