<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор станции</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Онлайн автовокзал</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="javascript:history.back(); return false;">Назад</a>
            </li>
        </ul>
        <div>
            <form v-if="profile" action="/logout" method="post">
                <button type="submit" class="btn btn-primary mr-3">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<form th:action="@{/station/edit/{id}(id = ${station.id})}" method="post" enctype="text/plain">
    <div>
        <label><h3>Автобусная станция</h3></label>
        <div>
            <label>Название</label>
            <input type="text" name="name" th:value="${station.name}">
        </div>
        <div>
            <label>Адрес</label>
            <input type="text" name="address" th:value="${station.address}">
        </div>
        <div>
            <label>Телефон</label>
            <input type="tel" name="phone"  th:value="${station.address}">
        </div>
        <div>
            <label>Время открытия</label>
            <input type="text" name="startTime"  th:value="${station.startTime}">
        </div>
        <div>
            <label>Время закрытия</label>
            <input type="text" name="endTime" th:value="${station.endTime}">
        </div>
        <div>
            <label>Город отправления</label>
            <select name="city">
                <option th:each="city : ${cities}"
                        th:value="${city.id}"
                        th:text="${city.name}"
                        th:selected="${city.id == station.city.id}">
                </option>
            </select>
        </div>
    </div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>