<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8" content="application/json">
    <title>Редактирования напрвления</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Онлайн автовокзал</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="javascript:history.back(); return false;">Назад</a>
            </li>
        </ul>
        <div>
            <form v-if="profile" action="/logout" method="post">
                <button type="submit" class="btn btn-primary mr-3">Выйти</button>
            </form>
        </div>
    </div>
</nav>
<form th:action="@{/admin/{id}(id = ${voyage.id})}" method="post" enctype="text/plain">
    <div>
        <label><h3>Пункт отправления</h3></label>
        <select name="pointOfDeparture">
            <option th:each="busStation : ${busStations}"
                    th:value="${busStation.id}"
                    th:text="${busStation.name}"
                    th:selected="${busStation.id == voyage.pointOfDeparture.id}">
            </option>
        </select>
        <div>
            <label><h4>Время отправления</h4></label>
            <input type="text" name="travelTimeDeparture" th:value="${voyage.travelTimeDeparture}">
        </div>
    </div>
    <div>
        <label><h3>Пункт назначения</h3></label>
        <select name="pointOfDestination">
            <option th:each="busStation : ${busStations}"
                    th:value="${busStation.id}"
                    th:text="${busStation.name}"
                    th:selected="${busStation.id == voyage.pointOfDestination.id}">
            </option>
        </select>
        <div>
            <label><h4>Время прибытия</h4></label>
            <input type="text" name="travelTimeDestination" th:value="${voyage.travelTimeDestination}">
        </div>
    </div>
    <div>
        <label><h3>Дни отправления</h3></label>
        <th:block th:each="day : ${dayOfWeek}">
            <br>
            <input type="checkbox" name="daysToDeparts" th:value="${day.value}" th:checked="*{voyage.dayOfDeparture.contains(day)}">
            <label th:text="${day.name()}"></label>
        </th:block>
    </div>
    <div>
        <label><h3>Время в пути</h3></label>
        <input type="text" name="travelTime" th:value="${voyage.travelTime}">
    </div>
    <div>
        <label><h3>Цена</h3></label>
        <input type="number" name="price" th:value="${voyage.price}">
    </div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>