<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Авторизация</title>
</head>
<body>
    <div class="container mt-3">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label>Авторизация</label>
            </div>
            <div>
                <label>Имя пользователя :</label>
                <div>
                    <input type="text" name="username" />
                </div>
            </div>
            <div>
                <label>Пароль :</label>
                <div>
                    <input type="password" name="password"/>
                </div>
            </div>
            <button type="submit" >Авторизироваться</button>
        </form>
    </div>
    <div>
        <a href="/registration">Регистрация</a>
    </div>
</body>
</html>